.Header {
  display: flex;
  justify-content: flex-end;
  background-color: lightskyblue;
  align-items: center;
  height: 50px;
}
.Header a {
  margin: 5px;
}
.Header .ava {
  border-style: none;
  border-radius: 25px;
  margin: 5px;
}
.Header .header-navbar {
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.Header button{
  height: 20px;
  width: auto;
  font-size: 12px;
}
.posts {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 10px;
}

.posts .post {
  background-color: lightcoral;
  
}
.posts span {
  font-weight: 700;
  justify-self:flex-end
  
}
@media (max-width: 300px ) {
  .posts{
  grid-template-columns: 100%;
  }
  .posts .post{
    background-color: lightskyblue;
    margin: 10px;
  }
}
@media (min-width:301px) and (max-width:500px) {
  .posts{
    grid-template-columns: 50% 50%;

  }
  .posts .post{
    background-color: lightskyblue;

  }
}